<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bookmarks view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Book Mark Added Successfully</h3>
	<table border="1">
		<tr>
			<th>id</th><th>Name</th><th>URL</th><th>Category</th><th>Notes</th>
		</tr>
		<tr>
			<td th:text="${id}"></td>
			<td th:text="${name}"></td>
        	<td th:text="${url}"></td>
        	<td th:text="${category}"></td>
        	<td th:text="${notes}"></td>	
		</tr>
	</table>
    <p>    
    	<a href="/index">Add another bookmark</a>
    </p>
</body>
</html>