<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of Bookmarks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>All Bookmarks Details</h3>
	<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> URL </th>
            <th> Category </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${bookmarksList.empty}">
            <td colspan="2"> No Booksmarks Available </td>
        </tr>
        <tr th:each="bookmark : ${bookmarksList}">
            <td th:text="${bookmark.id}" />
            <td th:text="${bookmark.name}" />
            <td th:text="${bookmark.url}" />
            <td th:text="${bookmark.category}" />
        </tr>
    </tbody>
</table>
<p>
	<a href="/">Home</a>
</p>	
</body>
</html>